body {
    background-color: aqua;
    font-family: Arial, sans-serif;
}

.header {
    color: darkblue;
}

.content {
    transform: translate(40%,0%);
    text-align: center;
}

.footer {
    text-align: center;
    color: crimson;
}